# Analysing World Population
### An SQL Based Analysis Project

This simple project explores the different population data and area statistics, which are brought using CIA World Factbook Database. The URL for this is [here](https://www.cia.gov/library/publications/the-world-factbook/)

## Preparing Environment

In [2]:
%%capture
%load_ext sql
%sql sqlite:///factbook.db

'Connected: None@factbook.db'

## Exploring

The below code identifies the tables in the databse.

In [3]:
%%sql
SELECT *
  FROM sqlite_master
 WHERE type='table';

Done.

[('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table', 'facts', 'facts', 47, 'CREATE TABLE "facts" ("id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "code" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "area" integer, "a ... (4 characters truncated) ... land" integer, "area_water" integer, "population" integer, "population_growth" float, "birth_rate" float, "death_rate" float, "migration_rate" float)')]

From the above, it seems that the 'facts' table is the main statistics data table. We're going to explore them both anyways.

In [4]:
%%sql
SELECT *
  FROM sqlite_sequence
 LIMIT 5;

Done.

[('facts', 261)]

Doesn't really provide much.

In [5]:
%%sql
SELECT *
  FROM facts
  LIMIT 5;

Done.

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92),
 (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0),
 (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46)]

The above columns description are:
1. name — the name of the country.
2. area — the country's total area (both land and water).
3. area_land — the country's land area in square kilometers.
4. area_water — the country's waterarea in square kilometers.
5. population — the country's population.
6. population_growth— the country's population growth as a percentage.
7. birth_rate — the country's birth rate, or the number of births per year per 1,000 people.
8. death_rate — the country's death rate, or the number of death per year per 1,000 people.

## Statistics

In here, we're calculating some population statistics which are:
1. Minimum population
2. Maximum population
3. Minimum population growth
4. Maximum population growth

### Minimum Population

In [6]:
%%sql
SELECT name, MIN(population)
  FROM facts;

Done.

[('Antarctica', 0)]

The Antarctica has 0 population. More information about this is available [here](https://www.cia.gov/library/publications/the-world-factbook/geos/ay.html). We can exclude the entry and check the next result.

In [7]:
%%sql
SELECT name, MIN(population)
  FROM facts
 WHERE name != 'Antarctica';

Done.

[('Pitcairn Islands', 48)]

### Maximum Population

In [8]:
%%sql
SELECT name, MAX(population)
  FROM facts;

Done.

[('World', 7256490011)]

It seems that the whole world is there as an entry. We will exclude this entry as well and check the next result.

In [9]:
%%sql
SELECT name, MAX(population)
  FROM facts
 WHERE name != 'World';

Done.

[('China', 1367485388)]

### Minimum Population Growth

In [10]:
%%sql
SELECT name, MIN(population_growth)
  FROM facts;

Done.

[('Holy See (Vatican City)', 0.0)]

### Maximum Population Growth

In [11]:
%%sql
SELECT name, MAX(population_growth)
  FROM facts;

Done.

[('South Sudan', 4.02)]

### Population and Area Calculations

#### Average Population

In [12]:
%%sql
SELECT AVG(population)
  FROM facts
 WHERE name != 'World';

Done.

[(32242666.56846473,)]

#### Average Area size

In [13]:
%%sql
SELECT AVG(area)
  FROM facts
 WHERE name != 'World';

Done.

[(555093.546184739,)]

Here, we will tag each country comparing it to the average number of population. This demonstrates nested SQL queries.

In [14]:
%%sql
SELECT name, CASE
             WHEN population > (SELECT AVG(population) FROM facts) THEN 'Above Average'
             ELSE 'Below Average'
             END AS 'Population Ratio'
  FROM facts;

Done.

[('Afghanistan', 'Below Average'),
 ('Albania', 'Below Average'),
 ('Algeria', 'Below Average'),
 ('Andorra', 'Below Average'),
 ('Angola', 'Below Average'),
 ('Antigua and Barbuda', 'Below Average'),
 ('Argentina', 'Below Average'),
 ('Armenia', 'Below Average'),
 ('Australia', 'Below Average'),
 ('Austria', 'Below Average'),
 ('Azerbaijan', 'Below Average'),
 ('Bahamas, The', 'Below Average'),
 ('Bahrain', 'Below Average'),
 ('Bangladesh', 'Above Average'),
 ('Barbados', 'Below Average'),
 ('Belarus', 'Below Average'),
 ('Belgium', 'Below Average'),
 ('Belize', 'Below Average'),
 ('Benin', 'Below Average'),
 ('Bhutan', 'Below Average'),
 ('Bolivia', 'Below Average'),
 ('Bosnia and Herzegovina', 'Below Average'),
 ('Botswana', 'Below Average'),
 ('Brazil', 'Above Average'),
 ('Brunei', 'Below Average'),
 ('Bulgaria', 'Below Average'),
 ('Burkina Faso', 'Below Average'),
 ('Burma', 'Below Average'),
 ('Burundi', 'Below Average'),
 ('Cambodia', 'Below Average'),
 ('Cameroon', 'Below Average'),
 ('Canada', 'Below Average'),
 ('Cabo Verde', 'Below Average'),
 ('Central African Republic', 'Below Average'),
 ('Chad', 'Below Average'),
 ('Chile', 'Below Average'),
 ('China', 'Above Average'),
 ('Colombia', 'Below Average'),
 ('Comoros', 'Below Average'),
 ('Congo, Democratic Republic of the', 'Above Average'),
 ('Congo, Republic of the', 'Below Average'),
 ('Costa Rica', 'Below Average'),
 ("Cote d'Ivoire", 'Below Average'),
 ('Croatia', 'Below Average'),
 ('Cuba', 'Below Average'),
 ('Cyprus', 'Below Average'),
 ('Czech Republic', 'Below Average'),
 ('Denmark', 'Below Average'),
 ('Djibouti', 'Below Average'),
 ('Dominica', 'Below Average'),
 ('Dominican Republic', 'Below Average'),
 ('Ecuador', 'Below Average'),
 ('Egypt', 'Above Average'),
 ('El Salvador', 'Below Average'),
 ('Equatorial Guinea', 'Below Average'),
 ('Eritrea', 'Below Average'),
 ('Estonia', 'Below Average'),
 ('Ethiopia', 'Above Average'),
 ('Fiji', 'Below Average'),
 ('Finland', 'Below Average'),
 ('France', 'Above Average'),
 ('Gabon', 'Below Average'),
 ('Gambia, The', 'Below Average'),
 ('Georgia', 'Below Average'),
 ('Germany', 'Above Average'),
 ('Ghana', 'Below Average'),
 ('Greece', 'Below Average'),
 ('Grenada', 'Below Average'),
 ('Guatemala', 'Below Average'),
 ('Guinea', 'Below Average'),
 ('Guinea-Bissau', 'Below Average'),
 ('Guyana', 'Below Average'),
 ('Haiti', 'Below Average'),
 ('Honduras', 'Below Average'),
 ('Hungary', 'Below Average'),
 ('Iceland', 'Below Average'),
 ('India', 'Above Average'),
 ('Indonesia', 'Above Average'),
 ('Iran', 'Above Average'),
 ('Iraq', 'Below Average'),
 ('Ireland', 'Below Average'),
 ('Israel', 'Below Average'),
 ('Italy', 'Below Average'),
 ('Jamaica', 'Below Average'),
 ('Japan', 'Above Average'),
 ('Jordan', 'Below Average'),
 ('Kazakhstan', 'Below Average'),
 ('Kenya', 'Below Average'),
 ('Kiribati', 'Below Average'),
 ('Korea, North', 'Below Average'),
 ('Korea, South', 'Below Average'),
 ('Kosovo', 'Below Average'),
 ('Kuwait', 'Below Average'),
 ('Kyrgyzstan', 'Below Average'),
 ('Laos', 'Below Average'),
 ('Latvia', 'Below Average'),
 ('Lebanon', 'Below Average'),
 ('Lesotho', 'Below Average'),
 ('Liberia', 'Below Average'),
 ('Libya', 'Below Average'),
 ('Liechtenstein', 'Below Average'),
 ('Lithuania', 'Below Average'),
 ('Luxembourg', 'Below Average'),
 ('Macedonia', 'Below Average'),
 ('Madagascar', 'Below Average'),
 ('Malawi', 'Below Average'),
 ('Malaysia', 'Below Average'),
 ('Maldives', 'Below Average'),
 ('Mali', 'Below Average'),
 ('Malta', 'Below Average'),
 ('Marshall Islands', 'Below Average'),
 ('Mauritania', 'Below Average'),
 ('Mauritius', 'Below Average'),
 ('Mexico', 'Above Average'),
 ('Micronesia, Federated States of', 'Below Average'),
 ('Moldova', 'Below Average'),
 ('Monaco', 'Below Average'),
 ('Mongolia', 'Below Average'),
 ('Montenegro', 'Below Average'),
 ('Morocco', 'Below Average'),
 ('Mozambique', 'Below Average'),
 ('Namibia', 'Below Average'),
 ('Nauru', 'Below Average'),
 ('Nepal', 'Below Average'),
 ('Netherlands', 'Below Average'),
 ('New Zealand', 'Below Average'),
 ('Nicaragua', 'Below Average'),
 ('Niger', 'Below Average'),
 ('Nigeria', 'Above Average'),
 ('Norway', 'Below Average'),
 ('Oman', 'Below Average'),
 ('Pakistan', 'Above Average'),
 ('Palau', 'Below Average'),
 ('Panama', 'Below Average'),
 ('Papua New Guinea', 'Below Average'),
 ('Paraguay', 'Below Average'),
 ('Peru', 'Below Average'),
 ('Philippines', 'Above Average'),
 ('Poland', 'Below Average'),
 ('Portugal', 'Below Average'),
 ('Qatar', 'Below Average'),
 ('Romania', 'Below Average'),
 ('Russia', 'Above Average'),
 ('Rwanda', 'Below Average'),
 ('Saint Kitts and Nevis', 'Below Average'),
 ('Saint Lucia', 'Below Average'),
 ('Saint Vincent and the Grenadines', 'Below Average'),
 ('Samoa', 'Below Average'),
 ('San Marino', 'Below Average'),
 ('Sao Tome and Principe', 'Below Average'),
 ('Saudi Arabia', 'Below Average'),
 ('Senegal', 'Below Average'),
 ('Serbia', 'Below Average'),
 ('Seychelles', 'Below Average'),
 ('Sierra Leone', 'Below Average'),
 ('Singapore', 'Below Average'),
 ('Slovakia', 'Below Average'),
 ('Slovenia', 'Below Average'),
 ('Solomon Islands', 'Below Average'),
 ('Somalia', 'Below Average'),
 ('South Africa', 'Below Average'),
 ('South Sudan', 'Below Average'),
 ('Spain', 'Below Average'),
 ('Sri Lanka', 'Below Average'),
 ('Sudan', 'Below Average'),
 ('Suriname', 'Below Average'),
 ('Swaziland', 'Below Average'),
 ('Sweden', 'Below Average'),
 ('Switzerland', 'Below Average'),
 ('Syria', 'Below Average'),
 ('Tajikistan', 'Below Average'),
 ('Tanzania', 'Below Average'),
 ('Thailand', 'Above Average'),
 ('Timor-Leste', 'Below Average'),
 ('Togo', 'Below Average'),
 ('Tonga', 'Below Average'),
 ('Trinidad and Tobago', 'Below Average'),
 ('Tunisia', 'Below Average'),
 ('Turkey', 'Above Average'),
 ('Turkmenistan', 'Below Average'),
 ('Tuvalu', 'Below Average'),
 ('Uganda', 'Below Average'),
 ('Ukraine', 'Below Average'),
 ('United Arab Emirates', 'Below Average'),
 ('United Kingdom', 'Above Average'),
 ('United States', 'Above Average'),
 ('Uruguay', 'Below Average'),
 ('Uzbekistan', 'Below Average'),
 ('Vanuatu', 'Below Average'),
 ('Holy See (Vatican City)', 'Below Average'),
 ('Venezuela', 'Below Average'),
 ('Vietnam', 'Above Average'),
 ('Yemen', 'Below Average'),
 ('Zambia', 'Below Average'),
 ('Zimbabwe', 'Below Average'),
 ('Taiwan', 'Below Average'),
 ('European Union', 'Above Average'),
 ('Ashmore and Cartier Islands', 'Below Average'),
 ('Christmas Island', 'Below Average'),
 ('Cocos (Keeling) Islands', 'Below Average'),
 ('Coral Sea Islands', 'Below Average'),
 ('Heard Island and McDonald Islands', 'Below Average'),
 ('Norfolk Island', 'Below Average'),
 ('Hong Kong', 'Below Average'),
 ('Macau', 'Below Average'),
 ('Faroe Islands', 'Below Average'),
 ('Greenland', 'Below Average'),
 ('Clipperton Island', 'Below Average'),
 ('French Polynesia', 'Below Average'),
 ('French Southern and Antarctic Lands', 'Below Average'),
 ('New Caledonia', 'Below Average'),
 ('Saint Barthelemy', 'Below Average'),
 ('Saint Martin', 'Below Average'),
 ('Saint Pierre and Miquelon', 'Below Average'),
 ('Wallis and Futuna', 'Below Average'),
 ('Aruba', 'Below Average'),
 ('Curacao', 'Below Average'),
 ('Sint Maarten', 'Below Average'),
 ('Cook Islands', 'Below Average'),
 ('Niue', 'Below Average'),
 ('Tokelau', 'Below Average'),
 ('Bouvet Island', 'Below Average'),
 ('Jan Mayen', 'Below Average'),
 ('Svalbard', 'Below Average'),
 ('Akrotiri', 'Below Average'),
 ('Anguilla', 'Below Average'),
 ('Bermuda', 'Below Average'),
 ('British Indian Ocean Territory', 'Below Average'),
 ('British Virgin Islands', 'Below Average'),
 ('Cayman Islands', 'Below Average'),
 ('Dhekelia', 'Below Average'),
 ('Falkland Islands (Islas Malvinas)', 'Below Average'),
 ('Gibraltar', 'Below Average'),
 ('Guernsey', 'Below Average'),
 ('Jersey', 'Below Average'),
 ('Isle of Man', 'Below Average'),
 ('Montserrat', 'Below Average'),
 ('Pitcairn Islands', 'Below Average'),
 ('Saint Helena, Ascension, and Tristan da Cunha', 'Below Average'),
 ('South Georgia and South Sandwich Islands', 'Below Average'),
 ('Turks and Caicos Islands', 'Below Average'),
 ('American Samoa', 'Below Average'),
 ('Guam', 'Below Average'),
 ('Navassa Island', 'Below Average'),
 ('Northern Mariana Islands', 'Below Average'),
 ('Puerto Rico', 'Below Average'),
 ('Virgin Islands', 'Below Average'),
 ('Wake Island', 'Below Average'),
 ('United States Pacific Island Wildlife Refuges', 'Below Average'),
 ('Antarctica', 'Below Average'),
 ('Gaza Strip', 'Below Average'),
 ('Paracel Islands', 'Below Average'),
 ('Spratly Islands', 'Below Average'),
 ('West Bank', 'Below Average'),
 ('Western Sahara', 'Below Average'),
 ('Arctic Ocean', 'Below Average'),
 ('Atlantic Ocean', 'Below Average'),
 ('Indian Ocean', 'Below Average'),
 ('Pacific Ocean', 'Below Average'),
 ('Southern Ocean', 'Below Average'),
 ('World', 'Above Average')]

We can count the countried above and below average:

In [57]:
%%sql
SELECT (SELECT COUNT(name)
               FROM facts
              WHERE population < (SELECT AVG(population) FROM facts) 
            ) AS 'Population Below Avg. Count', 
       (SELECT COUNT(name)
               FROM facts
              WHERE population > (SELECT AVG(population) FROM facts)
            ) AS 'Population Above Avg. Count'

Done.

[(218, 24)]

# Thank you.